<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bitnode</title>
    <link rel="stylesheet" href={{ url_for('static', path='bootstrap.min.css') }}></link>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
    </svg>

    <div class="container">
      <div>
          <h1>Bitnode Config Generator</h1>
          <p>Choose your options</p>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>
              To use the Dockerfile, docker must be installed in your system.

              Follow the steps to create docker image and run the container.
            </p>
            <ol>
              <li>Copy the Dockerfile and bitcoin.conf and save it inside a folder.</li>
              <li>Run command <code>docker build -t bitnode .</code> to create the docker image.</li>
              <li>To run the image use: <code>docker run bitnode</code></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div>
        <div class="container" style="width: 100%">
            <div class="d-flex row">
                <div class="col-md-6">
                    <form class="text-start p-4" onsubmit="return generate(this);">
                      <div class="row align-items-center p-2">
                        <div class="col-auto col-md"><label for="bitcoin-core">Bitcoin Core</label></div>
                        <div class="col d-flex justify-content-end">
                          <select id="bitcoinCore" class="w-75 form-select" onchange="toggleDownloadUrl()">
                            <option value="custom-url">Custom URL</option>
                            <option value="22.0" selected>22.0</option>
                            <option value="21.0">21.0</option>
                            <option value="20.0">20.0</option>
                          </select>
                        </div>
                      </div>
                      <div class="row align-items-center p-2">
                        <div class="col d-flex justify-content-end">
                          <input type="text" class="form-control" id="downloadUrl" placeholder="Download URL"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Please enter Download URL"
                            required disabled/>
                        </div>
                      </div>                      
                      <div class="row align-items-center p-2">
                        <div class="col-auto col-md"><label for="mode">Bitcoin Mode</label></div>
                        <div class="col d-flex justify-content-end">
                          <select id="mode" class="w-75 form-select">
                            <option value="mainnet">Mainnet</option>
                            <option value="regtest">Regtest</option>
                            <option value="testnet">Testnet</option>
                          </select>
                        </div>
                      </div>
                      <div class="row align-items-center p-2">
                        <div class="col-auto col-md"><label for="mode">Prune Old Blocks</label></div>
                        <div class="col d-flex justify-content-end">
                          <input type="number" class="form-control" id="prune" min="0" value="0" />
                        </div>
                      </div>
                      <div class="row align-items-center p-2">
                        <div class="col-auto col-md"><label class="form-check-label" for="rpcSwitch">Add RPC Options</label></div>
                        <div class="col d-flex justify-content-end form-check form-switch">
                          <input id="rpcSwitch" class="form-check-input" type="checkbox" />
                        </div>
                      </div>
                      <div class="row align-items-center p-2">
                        <div class="col-auto col-md"><label for="username">Docker user</label></div>
                        <div class="col d-flex justify-content-end">
                          <input id="username" class="form-control" value="bitcoin" placeholder="username" />
                        </div>
                      </div>
                      <div class="row align-items-center p-2">
                        <div class="col d-flex justify-content-end">
                          <button type="submit" value="Generate" class="btn btn-primary">Generate</button>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="col-md-6">
                  <div class="alert alert-primary d-flex align-items-center justify-content-between" role="alert">
                    <div>Info to use this Dockerfile and config</div>
                    <a href="#" onclick="toggleModal()">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                    </a>
                  </div>
                    <pre class="rounded-4 border border-2 px-4" style="background-color: #EFEFEF; max-height: 600px;">
                      <div class="d-flex justify-content-between align-items-center">
                        <h5 style="margin: 0px">Dockerfile</h5>
                        <button class="btn btn-light rounded-2 shadow shadow-sm" style="width: 90px; opacity: 1;" onclick="copyToClipboard(this, 'dockerfile')">Copy</button>
                      </div>
                      <p id="dockerfile" style="margin: 0px">Generate Dockerfile</p>
                    </pre>
                    <pre class="rounded-4 border border-2 px-4" style="background-color: #EFEFEF; max-height: 600px">
                      <div class="d-flex justify-content-between align-items-center"">
                        <h5 style="margin: 0px">bitcoin.conf</h5>
                        <button class="btn btn-light rounded-2 shadow shadow-sm" style="width: 90px; opacity: 1;" onclick="copyToClipboard(this, 'config')">Copy</button>
                      </div>
                      <p id="config" style="margin: 0px">Generate bitcoin.conf</p>
                    </pre>
                </div>
            </div>
        </div>
    </div>


    <script>

      function toggleDownloadUrl() {
        var bitcoinCore = document.getElementById("bitcoin-core").value
        if (bitcoinCore === "custom-url") {
          document.getElementById("downloadUrl").attributes.removeNamedItem("disabled");
        } else {
          document.getElementById("downloadUrl").attributes.setNamedItem(document.createAttribute("disabled"));
        }
      }

      var modal = document.getElementById("exampleModal");

      function toggleModal() {
        modal.style.display = "block";
        void modal.offsetWidth;
        modal.classList.add("show");
      }

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
          modal.classList.remove("show");
        }
      }

      function copyToClipboard(button, elementId) {
        var copyText = document.getElementById(elementId);
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();

        button.attributes.setNamedItem(document.createAttribute("disabled"));
        button.classList.add("btn-outline-success");
        button.innerHTML = "Copied!";

        setTimeout(function() {
          button.innerHTML = "Copy";
          button.classList.remove("btn-outline-success");
          button.attributes.removeNamedItem("disabled");
        }, 1000);

      }

      function generate(form) {
        var data = {
          core: form.bitcoinCore.value,
          download_url: form.downloadUrl.value,
          mode: form.mode.value,
          prune: form.prune.value,
          rpc: form.rpcSwitch.checked,
          user: form.username.value,
        }

        fetch('/generate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(function(response) {
          return response.json();
        }).then(function(data) {
          document.getElementById("dockerfile").innerHTML = data.dockerfile;
          document.getElementById("config").innerHTML = data.config;
        });

        return false;
      }

    </script>

  </body>
</html>
